---
layout: default
---

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/card.css">

<!-- ============================================ -->
<!--                    Programs                  -->
<!-- ============================================ -->

			<section id="programs" class="container">
				<h4>
					Our exclusive curricula, combined with our own digital lesson planning
					tool, enable teachers to create personalized learning experiences,
					appropriate to every age group.
				</h4>
				<div class="container center">
					<div class="card">
						<div class="imgBx">
							<img src="/images/infans2.jpg" alt="img1" />
						</div>
						<div class="contentBx">
							<div class="content">
								<h2>Pre Nursery</h2>
								<p>
									- Hands on discovery and exploration with exclusive Study
									kits.
									<br />
									- Developing language skills.
									<br />
									- Encouraging learning of new age skills.
									<br />
									- Engaging children physically, emotionally and socially.

									<br />
									- Shaping scientific thought in children. <br />
								</p>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="imgBx">
							<img src="/images/preschool3.jpg" alt="img1" />
						</div>
						<div class="contentBx">
							<div class="content">
								<h2>Nursery</h2>
								<p>
									- Imparts essential life skills.
									<br />
									- Enhances learning and interaction through fun with exclusive
									Study kits.
									<br />
									- Cultivates creativity & Develops curiosity.
									<br />
									- Improves imagination through Art and Music.
									<br />
								</p>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="imgBx">
							<img src="/images/preschool1.jpg" alt="img1" />
						</div>
						<div class="contentBx">
							<div class="content">
								<h2>Lower Kindergarten</h2>
								<p>
									- Special activities for developing language skills.
									<br />
									- Age appropriate learning with exclusive Study learning
									tools.
									<br />
									- Encourages children to express their ideas, thoughts and
									feelings.
									<br />
									- Allows children to grow at their own pace.
									<br />
								</p>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="imgBx">
							<img src="/images/preschool2.jpg" alt="img1" />
						</div>
						<div class="contentBx">
							<div class="content">
								<h2>Upper Kindergarten</h2>
								<p>
									- Building & enhancing vocabulary.
									<br />
									- Developing attention span.
									<br />
									- Innovative methods to enhance reading & writing with
									exclusive Study Kits.
									<br />
									- Preparing children for primary school.
									<br />
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
